/* common */
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 4%;
  /* text-align: center; */
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 4%;
  height: 270px;
}
.header .header_title {
  font-weight: 300;
  font-size: 24px;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  margin-left: 20px;
}
.header nav ul li .icon {
  width: 20px;
}

/* メインビジュアル */
.mainvisual {
  margin-bottom: 80px;
}
.mainvisual img {
  height: 420px;
  max-width: 1920px;
  object-fit: cover;
}

/* メインセクション */
main section h2 {
  text-align: center;
  margin-bottom: 50px;
}
main .about {
  font-size: 16px;
}
main .about .about_name,
main .about .about_profile,
main .about .about_text {
  margin-bottom: 30px;
}

/* スマホ */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: start;
    margin-top: 24px;
    height: auto;
  }
}
