@charset "UTF-8";
@charset "UTF-8";

/* common */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* header */
.common_header {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  padding: 46px 0 26px 0;
  border-bottom: 1px solid #c3c3c3;
}
.common_header .header_title {
  text-align: center;
  margin-bottom: 20px;
}
.common_header .header_title a {
  font-size: 1.5rem;
  font-weight: bold;
}
.common_header .header_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}
.common_header ul {
  display: flex;
}
.common_header .header_nav .menu li {
  margin-right: 12px;
}
.common_header .header_nav .user_menu li {
  margin-left: 12px;
}
.common_header .header_nav a {
  font-size: 12px;
}
.common_header .header_nav .menu {
}

/* main */
main .main_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
main .item_image {
  width: 400px;
  /* display: none; display flexの子要素の画像縮小防止 */
  flex-shrink: 0; /* shrinkしないという設定でも可 */
  margin-right: 50px;
}
main .item_image img {
  width: 100%;
}
main .item_description_title {
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  font-size: 16px;
  padding: 16px 0;
  margin-bottom: 20px;
}
main .item_description_area .item_description {
  font-size: 0.8rem;
  margin-bottom: 30px;
}
main .item_description_area .item_price {
  font-size: 0.8rem;
  margin-bottom: 20px;
}
main .order_table {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
main .order_table .color {
  width: 20%;
}
main .order_table .size {
  width: 20%;
}
main .order_table th,
main .order_table td {
  border-bottom: #c3c3c3 solid 1px;
  border-right: #c3c3c3 solid 1px;
}
main .order_table .bottom_row td {
  border-bottom: none;
}
main .order_table .quantity_select,
main .order_table .quantity {
  border-right: none;
}
main .order_table .quantity_select select {
  border: 1px solid #c3c3c3;
  width: 100%;
}
main .add_button {
  background-color: grey;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 50px;
  margin-bottom: 20px;
}
main .size_table {
  width: 100%;
}
main .size_table,
main .size_table td {
  border: #c3c3c3 1px solid;
}
main .size_table th {
  background-color: #c3c3c3;
  font-weight: normal;
}
/* footer */
footer p {
  font-size: 10px;
  text-align: center;
}
/* responsive */
@media screen and (max-width: 896px) {
  /* header */
  .common_header .header_nav {
    overflow-x: scroll;
    width: 100%;
  }
  /* main */
  main .main_wrapper {
    flex-direction: column;
  }
  main .item_image {
    width: 100%;
    margin: 0 0 10px 0;
  }
  main .item_image img {
    /* width: 100%; */
  }
}
